In [3]:
import pandas as pd
import numpy as np

Creamos un diccionario con valores conocidos y otros nulos `'None'` o `'NaN'`

In [5]:
dict = {'Col1':[1,2,3,np.nan],
 'Col2':[4,np.nan,6,7],
 'Col3':['a','b','c',None]}

Convertimos el diccionario en un dataframe de pandas

In [8]:
df = pd.DataFrame(dict)

In [9]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

### TÃ©cnicas para el manejo de valores nulos

1.  `df.isnull( )`: preguntamos si el df tiene valores nulos y devuelve un dataframe booleano, en donde

> `True` = el dato es NULO

> `False` = el dato NO es nulo

In [10]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

Podemos llevar esta matriz a valores numericos binarios

In [11]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

Una vez identificados podemos llenar esos valores con alguna palabra de referencia como *'Missing'* o *'Valor_Faltante'*

- `df.fillna('Missing')`

In [12]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

Tambien puedo llenar los valores *Nulos* de otras maneras, por ejemplo, con el promedio de  la columna

In [15]:
df.fillna(df.mean())

/tmp/ipykernel_1282/634187881.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None